/*
---------------------------------------------
Ãndice
------------------------------------------------
1. Typography
2. Colors
3. Main Nav
4. Home
5. About
6. Work
7. Single Work
8. Pricing
9. Contact
--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');

html {
  font-family: 'Comfortaa', cursive, sans-serif;
}

/* Typography */
p,
a {
  font-weight: 400;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 28px;
}

.light-300 {
  font-family: 'Comfortaa', cursive, sans-serif !important;
  font-weight: 300;
}

.regular-400 {
  font-family: 'Comfortaa', cursive, sans-serif !important;
  font-weight: 400;
}

.semi-bold-600 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
}

/* Colors      */
/*
.text-primary  		azul  //#c5a880
.text-secondary		gris // text-titulo-carrusel	
.text-success		verde
.text-danger		rojo
.text-warning		amarillo
.text-info			celeste 
.text-light			blanco // e6e6e6
.text-dark			negro  // custom #0f0f0f
.text-muted			gris oscuro  //#DBBB8F??
.text-white			gris claro
*/

.bg-custom {
  background: #0f0f0f;
}

.bg-secondary {
  background: #212121 !important;
}

.bg-body {
  background: #3c150466 !important;
}

.bg-card {
  background: #d1c3c3b7;
}

.bg-light {
  background-color: #f8f4ee !important;
}

.bg-plan-primary {
  background: rgb(230,230,230);
  background: radial-gradient(circle, rgba(230,230,230,1) 0%, rgba(225,225,224,1) 6%, rgba(211,210,207,0.9531162806919643) 21%, rgba(159,150,142,1) 89%, rgba(150,140,131,1) 100%);
}

.bg-plan-secondary {
  background: rgb(197, 168, 128);
  background: radial-gradient(circle, 
   rgba(197, 168, 128, 0.8998949921765581) 3%,
   rgba(197, 168, 128, 0.8998949921765581) 13%, 
   rgba(172, 146, 112, 1) 23%, 
   rgba(117, 100, 78, 1) 63%, 
   rgba(85, 74, 59, 1) 78%,
   rgba(27, 25, 22, 1) 97%,
   rgba(15, 15, 15, 1) 100%);
}


.text-light {
  color: #e6e6e6;
}

.text-titulo-carrusel {
  color: #c3832b;
}


.text-primary {
  color: #c5a880 !important;
}

.text-secondary {
  color: #a8824d !important;
}


.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active,
.btn-outline-primary:hover {
  color: #212121;
  background-color: #c5a880;
  border-color: #c5a880;
}

.typo-space-line::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display: block;
  position: absolute;
  border-bottom: 5px solid #d59644 !important;
  padding-top: .5em;
}

.typo-space-line-center::after {
  left: 50%;
  margin-left: -75px;
}

.typo-space-line-dark {
  min-height: 60vh;
  border-bottom: 5px solid #212121;
}


/* line 65, src/assets/scss/_buttons.scss */
.btn-outline-primary {
  color: #C2C2C2;
  border-color: #C2C2C2 !important;

}


/* line 91, src/assets/scss/mixins/_buttons.scss */
.btn-check:focus+.btn-outline-secondary,
.btn-outline-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(58, 57, 57, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(58, 57, 57, 0.5);

}

/* line 96, src/assets/scss/mixins/_buttons.scss */
.btn-check:checked+.btn-outline-secondary,
.btn-check:active+.btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show {
  color: #0f0f0f;
  background-color: #5e5c5c;
}

/* line 105, src/assets/scss/mixins/_buttons.scss */
.btn-check:checked+.btn-outline-secondary:focus,
.btn-check:active+.btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(58, 57, 57, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(58, 57, 57, 0.5);
  color: #0f0f0f;
}

/* line 115, src/assets/scss/mixins/_buttons.scss */
.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled {
  color: #0f0f0f;
  background-color: transparent;
}


/* line 85, src/assets/scss/mixins/_buttons.scss */
.btn-outline-primary:hover {
  color: #0f0f0f;
  background-color: #c5a880;
  border-color: #c5a880 !important;
}

/* line 91, src/assets/scss/mixins/_buttons.scss */
.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5);
  box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5)
}

/* line 96, src/assets/scss/mixins/_buttons.scss */
.btn-check:checked+.btn-outline-primary,
.btn-check:active+.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
  color: #0f0f0f;
  background-color: #c5a880;
  border-color: #c5a880 !important;
}

/* line 105, src/assets/scss/mixins/_buttons.scss */
.btn-check:checked+.btn-outline-primary:focus,
.btn-check:active+.btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5);
  box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5);
}

/* line 115, src/assets/scss/mixins/_buttons.scss */
.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
  color: #0f0f0f;
  background-color: #c5a880;
  border-color: #c5a880 !important;
}


.btn-outline-secondary {
  color: #0f0f0f;
  border-color: #d1caca !important;

}

.btn-outline-secondary:hover {
  color: #C2C2C2;
  background-color: #5e5c5c;
  border-color: #5e5c5c !important;
}

/* line 59, src/assets/scss/_buttons.scss */
.btn-secondary {
  color: #000;
  background-color: #5e5c5c;
  border-color: #5e5c5c !important;
}

/* line 25, src/assets/scss/mixins/_buttons.scss */
.btn-secondary:hover {
  color: #000;
  background-color: #5e5c5c;
  border-color: #5e5c5c !important;
}

/* line 31, src/assets/scss/mixins/_buttons.scss */
.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
  color: #000;
  background-color: #5e5c5c;
  border-color: #5e5c5c !important;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5);
  box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5);
}

/* line 44, src/assets/scss/mixins/_buttons.scss */
.btn-check:checked+.btn-secondary,
.btn-check:active+.btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show>.btn-secondary.dropdown-toggle {
  color: #000;
  background-color: #5e5c5c;
  border-color: #5e5c5c !important;
}

/* line 55, src/assets/scss/mixins/_buttons.scss */
.btn-check:checked+.btn-secondary:focus,
.btn-check:active+.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5);
  box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5);
}

/* line 65, src/assets/scss/mixins/_buttons.scss */
.btn-secondary:disabled,
.btn-secondary.disabled {
  color: #0f0f0f;
  background-color: #5e5c5c;
  border-color: #5e5c5c !important;
}


/* line 44, src/assets/scss/forms/_form-check.scss */
.form-check-input:focus {
  border-color: #C2C2C2;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5);
  box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, .5);
}

/* line 50, src/assets/scss/forms/_form-check.scss */
.form-check-input:checked {
  background-color: #5e5c5c;
  border-color: #5e5c5c !important;
}




/* Main Nav */
#main_nav .nav-item .nav-link:hover {
  color: #0f0f0f !important;
}

/* Home */
#index_banner {
  background-image: url('./../img/banner-bg-06.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}

#index_banner .carousel-item {
  min-height: 60vh;
}

#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
  color: #d59644 !important;
  text-decoration: none;
  font-size: 4em;
}

#index_banner .carousel-control-next i {
  color: #0f0f0f !important;
  text-decoration: none;
  font-size: 4em;

}

#index_banner .carousel-inner {
  height: 80vh;
}

#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
  background-color: #d59644 !important;
  /* las rayas de abajo del carrousel van de color azul*/
}

.service-wrapper .service-footer {
  max-width: 720px;
}

.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}

.service-work .service-work-vertical {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 33.33%, rgba(255, 255, 255, 1) 66.66%, rgba(255, 255, 255, 0) 99.99%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
}

.service-work .service-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}

.service-work .service-work-vertical:hover * {
  color: #000;
  border-color: #000;
  transition: .5s;
}

.recent-work.card {
  border-radius: 10px !important;
}

.recent-work .recent-work-vertical {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(83, 46, 28, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
  cursor: pointer;
}

.recent-work .recent-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}

.recent-work .recent-work-vertical:hover div.recent-work-content {
  top: 50%;
  margin-top: -2.5em;
  position: absolute;
}

.recent-work .recent-work-vertical:hover * {
  color: white;
  transition: .5s;
}

/* About */
#work_banner {
  background-image: url('./../img/banner-bg-05.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.progress {
  height: 8px;
}

.objective-icon {
  border-radius: 13px;
  width: 8rem;
}

.partner-wap {
  background-color: #a79a9a;
  transition: 1s;
  cursor: pointer;
  /* width: 20rem;*/
  /* height: 20rem;  */
  /* padding: auto; */
  /* margin-top: unset; */
  /* display: flex; */
  /* justify-content: center; */
}

.partner-wap:hover {
  background-color: #bfbfbf;
}

.why-us {
  background: rgb(239, 239, 253);
  background: -moz-linear-gradient(0deg, rgba(239, 239, 253, 1) 50%, rgba(255, 255, 255, 1) 50%);
  background: -webkit-linear-gradient(0deg, rgba(239, 239, 253, 1) 50%, rgba(255, 255, 255, 1) 50%);
  background: linear-gradient(0deg, rgba(239, 239, 253, 1) 50%, rgba(255, 255, 255, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeffd", endColorstr="#ffffff", GradientType=1);
}

/* line 34, src/assets/scss/forms/_form-control.scss */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #5e5c5c;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(15, 15, 15, 0.25);
  border-radius: .5rem
}


.team-member-img {
  transition-duration: 0.15s;
}

.team-member:hover .team-member-img {
  padding: 10px !important;
}

/* Work */
/* Singel Work */
#work_single_banner {
  background-image: url('./../img/banner-bg-04.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.related-content {
  border-radius: 20px;
  cursor: pointer;
}

/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}

.pricing-table {
  max-width: 350px;
  margin: auto;
}

.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}

/* Contact */
#floatingtextarea {
  height: 150px
}

.contact-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer a.text-light:hover {
  color: #bfbfbf !important;
  transition-duration: 0.15s;
}


/***********************************************************************************/
/********* Para el login *******************/
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 2rem;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-weight: bold
}

.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  /* padding: var(--input-padding-y) var(--input-padding-x); */
  padding: var(2) var(--input-padding-x);

}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}


.form-label-group input::selection ~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
